; https://stackoverflow.com/q/3240881/463678
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/plugins/start/vim-repeat"]
	path = pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "pack/plugins/start/vim-dirvish"]
	path = pack/plugins/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule "pack/plugins/start/vim-unimpaired"]
	path = pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "pack/plugins/start/scss-syntax.vim"]
	path = pack/plugins/start/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "pack/plugins/start/vim-css3-syntax"]
	path = pack/plugins/start/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "pack/plugins/start/vim-dispatch"]
	path = pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "pack/plugins/start/vim-obsession"]
	path = pack/plugins/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/plugins/start/vim-markdown"]
	path = pack/plugins/start/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "pack/plugins/start/vim-jinja"]
	path = pack/plugins/start/vim-jinja
	url = https://github.com/niftylettuce/vim-jinja.git
[submodule "pack/plugins/start/vim-qf"]
	path = pack/plugins/start/vim-qf
	url = https://github.com/romainl/vim-qf.git
[submodule "pack/plugins/start/emmet-vim"]
	path = pack/plugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/plugins/start/vim-projectionist"]
	path = pack/plugins/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "pack/plugins/start/supertab"]
	path = pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "pack/plugins/start/vim-racket"]
	path = pack/plugins/start/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "pack/plugins/start/vim-fireplace"]
	path = pack/plugins/start/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "pack/plugins/start/Colorizer"]
	path = pack/plugins/start/Colorizer
	url = https://github.com/chrisbra/Colorizer.git
[submodule "pack/plugins/start/traces.vim"]
	path = pack/plugins/start/traces.vim
	url = https://github.com/markonm/traces.vim.git
[submodule "pack/plugins/start/vim-rhubarb"]
	path = pack/plugins/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "pack/plugins/start/goyo.vim"]
	path = pack/plugins/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "pack/plugins/start/vim-jdaddy"]
	path = pack/plugins/start/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy.git
[submodule "pack/plugins/start/vim-tbone"]
	path = pack/plugins/start/vim-tbone
	url = https://github.com/tpope/vim-tbone.git
[submodule "pack/plugins/start/vim-qlist"]
	path = pack/plugins/start/vim-qlist
	url = https://github.com/romainl/vim-qlist.git
[submodule "pack/plugins/start/file-line"]
	path = pack/plugins/start/file-line
	url = https://github.com/bogado/file-line.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/vim-js"]
	path = pack/plugins/start/vim-js
	url = https://github.com/yuezk/vim-js.git
[submodule "pack/plugins/start/vim-jsx-pretty"]
	path = pack/plugins/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "pack/plugins/start/elm-vim"]
	path = pack/plugins/start/elm-vim
	url = https://github.com/ElmCast/elm-vim.git
[submodule "pack/plugins/start/vim-renamer"]
	path = pack/plugins/start/vim-renamer
	url = https://github.com/qpkorr/vim-renamer.git
	ignore = dirty
[submodule "pack/plugins/start/php-vim-syntax"]
	path = pack/plugins/start/php-vim-syntax
	url = https://github.com/TysonAndre/php-vim-syntax.git
[submodule "pack/plugins/start/vim-vue"]
	path = pack/plugins/start/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "pack/plugins/start/typescript-vim"]
	path = pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "pack/plugins/start/vim-prettier"]
	path = pack/plugins/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/plugins/start/vim-easy-align"]
	path = pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
