[submodule "pack/plugins/start/vim-easy-align"]
	path = pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "pack/plugins/start/indentLine"]
	path = pack/plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "pack/plugins/start/ack.vim"]
	path = pack/plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "pack/plugins/start/vim-jsx"]
	path = pack/plugins/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "pack/plugins/start/vim-javascript"]
	path = pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/LeaderF"]
	path = pack/plugins/start/LeaderF
	url = https://github.com/Yggdroot/LeaderF.git
[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/plugins/start/vim-filebeagle"]
	path = pack/plugins/start/vim-filebeagle
	url = https://github.com/jeetsukumaran/vim-filebeagle.git
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/plugins/start/emmet-vim"]
	path = pack/plugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/plugins/start/supertab"]
	path = pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "pack/plugins/start/vim-obsession"]
	path = pack/plugins/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/plugins/start/vim-matrix-screensaver"]
	path = pack/plugins/start/vim-matrix-screensaver
	url = https://github.com/shmup/vim-matrix-screensaver.git
[submodule "pack/plugins/start/vim-rhubarb"]
	path = pack/plugins/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "pack/plugins/start/vim-sneak"]
	path = pack/plugins/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "pack/plugins/start/gv.vim"]
	path = pack/plugins/start/gv.vim
	url = https://github.com/junegunn/gv.vim.git
[submodule "pack/plugins/start/dwm.vim"]
	path = pack/plugins/start/dwm.vim
	url = https://github.com/shmup/dwm.vim.git
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/w0rp/ale.git
