[submodule "pack/plugins/start/vim-easy-align"]
	path = pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "pack/plugins/start/indentLine"]
	path = pack/plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "pack/plugins/start/vim-jsx"]
	path = pack/plugins/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "pack/plugins/start/vim-javascript"]
	path = pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/LeaderF"]
	path = pack/plugins/start/LeaderF
	url = https://github.com/Yggdroot/LeaderF.git
[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/plugins/start/supertab"]
	path = pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "pack/plugins/start/vim-matrix-screensaver"]
	path = pack/plugins/start/vim-matrix-screensaver
	url = https://github.com/shmup/vim-matrix-screensaver.git
[submodule "pack/plugins/start/vim-rhubarb"]
	path = pack/plugins/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "pack/plugins/start/gv.vim"]
	path = pack/plugins/start/gv.vim
	url = https://github.com/junegunn/gv.vim.git
[submodule "pack/plugins/start/vim-dirvish"]
	path = pack/plugins/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule "pack/plugins/start/vim-qlist"]
	path = pack/plugins/start/vim-qlist
	url = https://github.com/romainl/vim-qlist.git
        ignore = dirty
[submodule "pack/plugins/start/vim-qf"]
	path = pack/plugins/start/vim-qf
	url = https://github.com/romainl/vim-qf.git
